@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to top,#662400,#B33F00, #FF6B1A, #006663, #00B3AD);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.452);
    width: 600px;
    padding: 10px;
    margin: auto;
    height: auto;
}
h1{
    color: #B33F00;
    text-align: center;
    text-shadow: 1px 1px 2px #b33f00b7;
}

h2{
    color: #FF6B1A;
    text-shadow: 1px 1px 2px #FF6B1A;
}

p {
    text-align: justify;
}